<section class="settings-page bg-white py-5">
  <div class="container">
    <h4 class="fw-bold mb-4">  تغير كلمة السر

    </h4>

   <div class="mb-3">
  <label for="" class="form-label">كلمة السر القديمة </label>
  <input type="password" class="form-control" id="" placeholder="كلمة السر القديمة">
</div>
  <div class="mb-3">
  <label for="" class="form-label"> كلمة السر الجديدة </label>
  <input type="password" class="form-control" id="" placeholder="كلمة السر الجديدة">
</div>
  <div class="mb-3">
  <label for="" class="form-label"> تأكيد كلمة السر  </label>
  <input type="password" class="form-control" id="" placeholder="تأكيد كلمة السر">
</div>
<button class="btn btn-success"><i class="fas fa-save fa-fw me-2"></i> حفظ </button>
  </div>
</section>
