<section class="settings-page bg-white py-5">
  <div class="container">
    <h4 class="fw-bold mb-4"> تغير كلمة السر

    </h4>
    <form class="form p-0 w-100" (ngSubmit)="updatePassword()" [formGroup]="updatePasswordForm">
      <div class="mb-3">
        <label for="" class="form-label">كلمة السر القديمة </label>
        <input type="password" class="form-control" formControlName="currentPassword" placeholder="كلمة السر القديمة">
        </div>
        <div class="mb-3">
          <label for="" class="form-label"> كلمة السر الجديدة </label>
        <input type="password" class="form-control" formControlName="newPassword" placeholder="كلمة السر الجديدة">
        </div>
        <div class="mb-3">
        <label for="" class="form-label"> تأكيد كلمة السر </label>
        <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="تأكيد كلمة السر">
        </div>
      <button class="btn btn-success" [disabled]="updatePasswordForm.invalid"><i class="fas fa-save fa-fw me-2"></i> حفظ
      </button>
      </form>
  </div>
</section>