<!-- Start Categories -->
<section class="categories-page  py-5 bg-light">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title ">منتجات جديدة </h5>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let productItem of productsData">
        @if(productItem.category.name === "Electronics") {

          <ng-template carouselSlide [id]="productItem._id">
            <app-product [product]="productItem"></app-product>

          </ng-template>
        }
      </ng-container>
    </owl-carousel-o>

  </div>

</section>

<!-- End Categories -->
<!-- Start Categories -->
<section class="categories-page  py-5 ">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title "> الاكثر شهرة </h5>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let productItem of productsData">
        @if(productItem.category.name === "Men's Fashion") {

          <ng-template carouselSlide [id]="productItem._id">
            <app-product [product]="productItem"></app-product>

          </ng-template>
        }
      </ng-container>
    </owl-carousel-o>

  </div>

</section>

<!-- End Categories -->
