<section class="settings-page py-5 bg-white">
  <div class="container">
    <h4 class="fw-bold mb-3">  العنواين

    </h4>

    <div class="card mb-3 text-bg-success">
  <div class="card-header">
    العنوان الافتراضى
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title"> مدينة نصر </h5>
            <p class="card-text">30 محمود عباس متفرع من مصطفى النحاس مدينة نصر القاهرة</p> -->
    <p class="card-text" *ngFor="let item of defaultAddresses">{{item.addrees}}</p>

  </div>
</div>
    <div *ngFor="let item of addressList; let i = index;" class="card">
      <div class="card-header">
        العنوان {{i + 2}}
        </div>
        <div class="card-body">
        <!-- <h5 class="card-title"> التجمع الخامس  </h5>
                <p class="card-text">66 ش التسعين الرئيسى بجوار مول كيرو فيستفيل ستى </p> -->
        <p class="card-text">{{item.addrees}}</p>
        <a (click)="updateUserAddress(item)" class="btn btn-success"> تعيين كعنوان افتراضي </a>
        </div>
        </div>

   </div>
</section>
