.login-page {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  .login-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: min(400px , 90vw);
    .image {
      height: 100px;
      text-align: center;
      margin-bottom: 30px;
      img {
        height: 100%;
      }
    }
  }
}
