<!-- Start Categories -->
 <section class="categories-page  py-5 bg-light">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title ">منتجات جديدة </h5>
    @if (NewProductsData.length > 0) {
       <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of NewProductsData">
      <ng-template carouselSlide [id]="slide.id.toString()">
        <app-product [product]="slide"></app-product>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
    }
    @else {
            <h1 class="text-center bg-light py-3 border-2 shadow-sm">لا توجد منتجات في هذه الفئة</h1>

    }


  </div>

</section>

<!-- End Categories -->
<!-- Start Categories -->
<section class="categories-page  py-5 ">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title "> الاكثر شهرة </h5>
    @if(MostPopularData.length > 0) {
      <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let productItem of MostPopularData">

          <ng-template carouselSlide [id]="productItem.id.toString()">
            <app-product [product]="productItem"></app-product>

          </ng-template>

      </ng-container>
    </owl-carousel-o>
    }@else {
      <h1 class="text-center bg-light py-3 border-2 shadow-sm">لا توجد منتجات في هذه الفئة</h1>
    }


  </div>

</section>

<!-- End Categories -->
<!-- Start Categories -->
<section class="categories-page  py-5 ">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title "> الاكثر مبيعاً </h5>
    @if(BestSellerData.length > 0) {
      <owl-carousel-o [options]="customOptions">
        @for(productItem of BestSellerData ; track productItem.id) {
          <ng-container >
              <ng-template carouselSlide [id]="productItem.id.toString()">
                <app-product [product]="productItem"></app-product>
              </ng-template>
          </ng-container>

        } @empty {
        }
      </owl-carousel-o>

    } @else {
            <h1 class="text-center bg-light py-3 border-2 shadow-sm">لا توجد منتجات في هذه الفئة</h1>

    }

  </div>

</section>

<!-- End Categories -->
<!-- Start Categories -->
<section class="categories-page  py-5 ">
  <div class="container">
    <h5 class="fw-bold mb-5 main-title ">  المنتجات المميزة </h5>
    @if(FeaturedData.length > 0) {
       <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let productItem of FeaturedData">

          <ng-template carouselSlide [id]="productItem.id.toString()">
            <app-product [product]="productItem"></app-product>

          </ng-template>

      </ng-container>
    </owl-carousel-o>

    } @else {
            <h1 class="text-center bg-light py-3 border-2 shadow-sm">لا توجد منتجات في هذه الفئة</h1>

    }


  </div>

</section>

<!-- End Categories -->
