<section class="my-account py-5 bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <aside class="py-5">
          <ul class="list-group">
            <li class="list-group-item "  ><a  routerLink="./orders"  class="d-block"><i class="fas fa-shopping-bag me-2 text-secondary fa-fw"></i> طلباتك </a></li>
            <li class="list-group-item " ><a routerLink="./settings" class="d-block"><i class="fas fa-user-cog me-2 text-secondary fa-fw"></i> إعدادات</a></li>
            <li class="list-group-item " ><a routerLink="./change-password" class="d-block"><i class="fas fa-key me-2 text-secondary fa-fw"></i> كلمة السر</a></li>
            <li class="list-group-item " ><a routerLink="./address" class="d-block"><i class="fas fa-map-marker-alt me-2 text-secondary fa-fw"></i> العنوان</a></li>
            <li class="list-group-item " ><a routerLink="./quotation" class="d-block"><i class="fas fa-clipboard-list me-2 text-secondary fa-fw"></i> عرض أسعار</a></li>
            <li class="list-group-item " ><a  class="d-block"> <i class="fas fa-sign-out-alt  me-2 text-secondary fa-fw"></i> تسجيل الخروج</a></li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
