<section class="settings-page py-5 bg-white">
  <div class="container">
    <h4 class="fw-bold mb-3"> إعدادات الحساب

    </h4>
    <p>تفاصيل الحساب
</p>
   <div class="mb-3">
  <label for="" class="form-label">الاسم </label>
  <input type="text" class="form-control" id="" placeholder="الاسم">
</div>
  <div class="mb-3">
  <label for="" class="form-label">البريد الاكترونى </label>
  <input type="email" class="form-control" id="" placeholder="الاسم">
</div>
  <div class="mb-3">
  <label for="" class="form-label"> التليفون </label>
  <input type="text" class="form-control" id="" placeholder="التليفون">
</div>
<button class="btn btn-success"><i class="fas fa-save fa-fw me-2"></i> حفظ </button>
  </div>
</section>
