<footer class="pt-3">
  <div class="footer-top py-3">
    <div class="container">
      <div class=" row g-3">
        <div class="col-lg-4 col-sm-12">
          <div class="gi-footer-widget gi-footer-company">
            <img class="gi-footer-logo mb-4" alt="footer logo" src="../../../../assets/imgs/logo.png" height="55px">
            <p class="gi-footer-detail">في مستر إفري ثنق، نسعى دائمًا لتقديم الأفضل لعملائنا من خلال توفير تشكيلة
              واسعة تشمل الأدوات المنزلية، الإلكترونيات، الاثاث، والعديد من المنتجات الأخرى التي تضيف قيمة إلى حياتك
              اليومية. كما نلتزم بخدمة عملاء مميزة وخيارات توصيل سريعة لتلبية طلباتك بكل سهولة. مستر إفري ثنق: كل ما
              تحتاجه... وأكثر!

            </p>
            <div class="d-flex">
              <a href="#" class="btn btn-sm">
                <img class=" rounded-2 w-100" alt="adroid " src="../../../../assets/imgs/android.png">
              </a>
              <a href="#" class="btn btn-sm">
                <img class=" rounded-2 w-100" alt="apple" src="h../../../../assets/imgs/apple.png">
              </a>
            </div>
          </div>

        </div>
        <div class=" col-lg-2 col-sm-12">
          <div class="gi-footer-widget">
            <h4 class="border-bottom pb-2 mb-4">الفئات
            </h4>
            <div class="gi-footer-links gi-footer-dropdown">
              <ul class="align-itegi-center">
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Dried Fruit</a></li>
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Cookies</a></li>
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Foods</a></li>
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Fresh Fruit</a></li>
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Tuber root</a></li>
                <li class="gi-footer-link"><a href="#" style="text-transform: capitalize;">Vegetables</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class=" col-lg-2 col-sm-12">
          <div class="gi-footer-widget">
            <h4 class="border-bottom pb-2 mb-4">روابط مهمة

            </h4>
            <div class="gi-footer-links gi-footer-dropdown">
              <ul class="align-itegi-center">
                <li class="gi-footer-link"><a href="/register">سياسة الخصوصية</a></li>
                <li class="gi-footer-link"><a href="/cart">الاستبدال و الاسترجاع </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="  col-lg-4 col-sm-12">
          <div class="gi-footer-contact">
            <div class="gi-footer-widget">
              <h4 class="border-bottom pb-2 mb-4">اتصل بنا
              </h4>
              <div class="gi-footer-links gi-footer-dropdown">
                <ul class="list-unstyled " style="display: flex; flex-direction: column; gap: 14px;">
                  <li class="gi-footer-link gi-foo-location d-flex"><span><i
                        class="fa-solid fa-location-dot me-2"></i></span>
                    <a href="https://www.google.com/maps?q=24.514098881428772,46.680950096474305" target="_blank">
                      RLKC7458، الخليفة المأمون، 3580، حي عكاظ السعودية, الرياض, حي عكاظ, RLKC7458، الخليفة المأمون،
                      3580، حي عكاظ
                    </a>
                  </li>
                  <li class="gi-footer-link gi-foo-call"><span>
                      <i class="fa-brands fa-whatsapp me-2"></i></span>
                    <a href="tel:+966555403299" class="dir-ltr d-inline-block">+966 555 403 299</a>
                  </li>
                  <li class="gi-footer-link gi-foo-call"><span>
                      <i class="fa-solid fa-mobile-screen-button me-2"></i></span>
                    <a href="tel:+966555403299" class="dir-ltr d-inline-block">+966 555 403 299</a>
                  </li>
                  <li class="gi-footer-link gi-foo-mail"><span><i class="fa-solid fa-envelope me-2"></i></span><a
                      href="mailto:{{email}}">{{email}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="gi-footer-social ">
            <ul class="align-itegi-center list-unstyled d-flex" style="gap: 16px;">
              <li class="gi-footer-link"><a href="#" class="btn btn-secondary btn-sm "><i
                    class="fa-brands fa-facebook-f fa-fw"></i></a></li>
              <li class="gi-footer-link"><a href="#" class="btn btn-secondary btn-sm"><i
                    class="fa-brands fa-x-twitter fa-fw"></i></a></li>
              <li class="gi-footer-link"><a href="#" class="btn btn-secondary btn-sm"><i
                    class="fa-brands fa-instagram fa-fw"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom  py-2">
    <div class="container">
      <div class="row align-items-center g-4">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-bottom-copy ">
              <div class="gi-copy">جميع الحقوق محفوظة © <a class="site-name" href="/">MicroCode - Group  {{year}}</a>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="footer-bottom-payment d-flex justify-content-end ">
              <ul class="payment-link d-flex list-unstyled flex-wrap p-0 m-0" style="gap: 16px;">
                  <li><a href="http://" target="_blank" title="المركز السعودي للأعمال  رقم السجل التجاري: 7039576769"><img src="../../../../assets/imgs/iconPay/logo192.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="SMSA Mobile"><img src="../../../../assets/imgs/iconPay/smsa.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="زد شوب الاسرع"><img src="../../../../assets/imgs/iconPay/zad.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="مدى ميديا"><img src="../../../../assets/imgs/iconPay/mada-circle.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="apple pay"><img src="../../../../assets/imgs/iconPay/apple_pay.svg" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="visa"><img src="../../../../assets/imgs/iconPay/visa-circle.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="mastercard"><img src="../../../../assets/imgs/iconPay/mastercard-circle.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="أمريكان إكسبريس"><img src="../../../../assets/imgs/iconPay/amex.png" alt=""  height="25px"/></a></li>
                  <li><a href="http://" target="_blank" title="تحويل بنكى "><img src="../../../../assets/imgs/iconPay/bankTransfer.png" alt=""  height="25px"/></a></li>
              </ul>
            </div>
          </div>

      </div>
    </div>
  </div>

</footer>
