.categories-page {
  .owl-carousel {
    .category-item {
    .image {
      border-radius: 50%;
      img {
        border-radius: 50%;;
      }
    }
  }
    .owl-nav {
      position: absolute;
      top: -80px;
      inset-inline-end: 0;
      margin-top: 0;
      div {
        background-color: transparent;
        color: $secondary-color;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        padding-inline: 10px;
        transition: all 0.3s ease;
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
}



.categories-page {
  .category-item {
    .image {
      border-radius: 10px;
      img {
        border-radius: 10px;
      }
    }
  }
}

.category-item {
  transition: all 0.3s ease-in-out;
  .image {
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(#000, 0.0);
    height: 200px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 768px) {
      height: 320px;
    }
  }
  img {
    border-radius: 50%;
  }

  &:hover {
    .image {
      background: linear-gradient(to right, #0d345e 0%, #34bf57 100%);
      box-shadow: 0 0 10px rgba(#000, 0.3);
    }
  }
}
