<section class="orders-page bg-white py-5">
  <div class="container">
    <h4 class="fw-bold mb-3"> طلباتك
    </h4>

    <table class="table  table-hover">
      <thead>
        <tr class="table-secondary">

          <th >المنتجات</th>
          <th>طلب</th>
          <th>التاريخ</th>
          <th>عدد المنتجات </th>
          <th> حالة الطلب </th>
          <th>الاجمالى</th>
          <th>التقييم</th>
          <th>نشاط</th>
        </tr>
      </thead>
      <tbody>
        <tr >

          <td class="align-middle"><img src="../../../../../assets/imgs/product-img-1.jpg" alt="" width="64" height="64"  class="object-fit-cover img-thumbnail" style="max-height: 64px;"></td>
          <td class="align-middle">#14899</td>
          <td class="align-middle">March 5, 2023</td>
          <td class="align-middle">1</td>
          <td class="align-middle"><span class="badge text-bg-warning">Processing</span></td>
          <td class="align-middle">120<img src="../../../../assets/imgs/Saudi_Riyal.svg" alt=""  class="ms-1" style="width: 20px; height: 20px;"/></td>
          <td class="align-middle">
            <span>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-solid fa-star text-warning"></i>
              <i class="fa-regular fa-star text-warning"></i>
            </span>
          </td>
          <td class="align-middle">
            <div class="dropdown">
              <a class=" dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-fw "></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">عرض الطلب </a></li>
                <li><a class="dropdown-item" href="#">  تقييم الطلب</a></li>
                <li><a class="dropdown-item" href="#">الغاء طلب  </a></li>
              </ul>
            </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
