<!-- <a class="category-item">
  <div class="image">
    <img
      [src]="category.image"
      [alt]="category.name"
      [title]="category.name"
      class="w-100 object-fit-cover"
      height="200px"
    />
  </div>
  <h6 class="text-center fw-bold py-3">{{ category.name }}</h6>
</a>
 -->

<a class="category-item" [routerLink]="['/categories', category.id]">
  <div class="image">
    <!-- <img
      [src]="imagePath + category.imageUrl"
      [alt]="category.nameAr"
      [title]="category.nameAr"
      class="w-100 h-100 object-fit-cover"
      height="200px"
    /> -->
  </div>
  <h6 class="text-center fw-bold py-3">{{ category.nameAr }}</h6>
</a>
