<div class="card position-relative">
  <div class="favorite cursor-pointer position-absolute top-0 start-0 m-2 z-1">
    <i class="fa-heart fs-4  " [class]="product.isInFavourite? 'fa-solid text-danger':'fa-regular text-black-50'"></i>
  </div>
  <a [routerLink]="['/product/', product.id]">
    <div class="image-item">
      <img
        [src]="imagePath + product.productImageForWeb"
        class="w-100 object-fit-contain rounded-0"
        alt="..."
        height="200px"
      />
    </div>
    <div class="card-body pb-1">
      <!-- <small class=" text-secondary">{{ product.category.name }}</small> -->

      <h6 class="card-title line-clamp-2">{{ product.nameAr }}</h6>
      <div class="rating py-2">
        <ng-container>
          <!-- <i
          *ngFor="let star of [1, 2, 3, 4, 5]"
          class="fa-regular fa-star "
          [ngClass]="{
            'fa-solid text-warning': star <= product.ratingsAverage
          }"
        ></i> -->
          <i
            *ngFor="let star of [1, 2, 3, 4, 5]"
            class="fa-regular fa-star"
          ></i>
        </ng-container>

        <!-- <i class="fa fa-star"></i> -->

        <!-- {{ product.ratingsAverage }} -->
      </div>
      <div class="price fw-bold text-end">
        <span class="d-flex justify-content-end align-items-center">
          {{ product.price | number : "1.0-0" }}
          <img src="../../../../assets/imgs/Saudi_Riyal.svg" alt=""  class="ms-1" style="width: 20px; height: 20px;"/>
        </span>
      </div>
    </div>
  </a>
  <a class="btn btn-success btn-sm m-2"
    ><i class="fa-solid fa-cart-arrow-down me-1"></i> إضف الى السلة</a
  >
</div>
