<div class="card position-relative">
  <div class="favorite cursor-pointer position-absolute top-0 start-0 m-2 z-1">
    <i class="fa-heart fs-4  " [class]="isInFavorite? 'fa-solid text-danger':'fa-regular text-black-50'"></i>
  </div>
  <a [routerLink]="['/product/', product.id]">
    <div class="image-item">
      <img
        [src]="imagePath + product.image"
        class="w-100 object-fit-contain rounded-0"
        alt="..."

        style="min-height: 200px; max-height: 200px;"
      />
    </div>
    <div class="card-body pb-1">
      <small class=" text-secondary">{{ product.categoryName }}</small>

      <h6 class="card-title line-clamp-2 fw-bold">{{ product.productName }}</h6>
      <div class="d-flex justify-content-between flex-wrap">
      <div class="rating py-2">
        @if(product.rating) {

          <i
            *ngFor="let star of [1, 2, 3, 4, 5]"
            class="fa-regular fa-star "
            [ngClass]="{
              'fa-solid text-warning': star <= product.rating
            }"
          >
        </i>

      } @else {
        <i
            *ngFor="let star of [1, 2, 3, 4, 5]"
            class="fa-regular fa-star "

          >
        </i>
      }

        <!-- <i class="fa fa-star"></i> -->

        <!-- {{ product.ratingsAverage }} -->
      </div>
      <div class="price fw-bold text-end d-flex justify-content-end ms-auto">
        <del class="d-flex justify-content-end align-items-center opacity-50 me-2">
          {{ product.oldPrice| number : "1.0-0" }}
          <img src="../../../../assets/imgs/Saudi_Riyal.svg" alt=""   style="width: 20px; height: 20px;"/>
        </del>
        <span class="d-flex justify-content-end align-items-center">
          {{ product.price | number : "1.0-0" }}
          <img src="../../../../assets/imgs/Saudi_Riyal.svg" alt=""  class="ms-1" style="width: 20px; height: 20px;"/>
        </span>

      </div>
      </div>
    </div>
  </a>
  <a class="btn btn-success btn-sm m-2" (click)="addToCart(product)"
    ><i class="fa-solid fa-cart-arrow-down me-1"></i> إضف الى السلة</a
  >
</div>
